.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: cadetblue;
}

    .logo_container {
      width: 5em;
    }



#menu-list{display: none;
  background-color: cadetblue;

}

#menu-list.hidden{display:flex;
}

#menu-list li {
    background-color: cadetblue;
    padding: 10px 15px;
    border-radius: 5px; 
    margin-bottom: 5px; 
    font-family: "Roboto", sans-serif;
}

.avatar{
  position: absolute;
  top: 15%;
  left:10%;
  z-index: 100;
}

